/* ===>>Fully responsive for any Device under Ex-large Display */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

    /* Sec 2 */
    .second-section{
      height: 80vh;
    }
    .tv-text{
      align-items:center;
      text-align: center;
      width: 100%;
      height: 50%;
  }
  .tv-video{
    height: 50% !important;
    width: 100%;
}
.tv-video img{
  height: auto;
  width: 80%;
}

.tv-video > video{
  top: 10%;
  left: 20%;
  height: 75%;
  width: 60%;
}

/* sec 3 */
.three-section{
  height: 80vh;  
}
.mobile-section{
  height: 50%;
  width: 100%;
}
.mobile-section >img{
  width: 80%;
  height: auto;
  position: absolute;
  /* max-height: 380px; */
}
.mobile-section > div{
  height: auto;
  width: 65%;
}
.download-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 50%;
}

/* sec 4 */
.sec-four{
  height: 80vh;
  }
.device-text{
  height: 50%;
  width: 100%;
  align-items: center;
}
.device-img{
  height: 50%;
  width: 100%;
}
.device-img img{
  height: auto;
  width: 80%;
}
.device-img video{
  top: 10%;
  left: 25%;
  height: 51%;
  width: 50%;
}

/* sec 5 */
.sec-five{
  height: 80vh;
}
.kids-img{
  height: 50%;
  width: 100%;
}
.kids-img img{
  height: auto;
  width: 80%;
}
.kids-text{
  height: 50%;
  width: 100%;
  align-items: center;
  text-align: center;
}

/* sec 6 */

.fs-xl-2{
  font-size: 24px !important;
  text-align: center;
}

/* sec 7 */
.footer-menu ul li{
  width: 30% !important;
  height: 50px !important;
  margin: 3px 5px !important;
  font-size: 14px !important;
  color: white !important;
  text-align: center;
}





}  


@media only screen 
  and (min-device-width: 667px) 
  and (max-device-width: 991px)
  and (-webkit-min-device-pixel-ratio: 2) {

  /* Sec 2 */
  .second-section{
    height: 80vh;
  }
  .tv-text{
    align-items:center;
    text-align: center;
    width: 100%;
    height: 50%;
}
.tv-video{
  height: 50% !important;
  width: 100%;
}
.tv-video img{
  height: auto;
  width: 70%;
}

.tv-video > video{
  top: 10%;
  left: 20%;
  height: 75%;
  width: 60%;
}

/* sec 3 */
.three-section{
  height: 80vh;  
}
.mobile-section{
  height: 50%;
  width: 100%;
}
.mobile-section >img{
  width: 70%;
  height: auto;
  position: absolute;
  /* max-height: 380px; */
}
.mobile-section > div{
  height: auto;
  width: 65%;
}
.download-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 50%;
}

/* sec 4 */
.sec-four{
  height: 80vh;
  }
.device-text{
  height: 50%;
  width: 100%;
  align-items: center;
}
.device-img{
  height: 50%;
  width: 100%;
}
.device-img img{
  height: auto;
  width: 70%;
}
.device-img video{
  top: 10%;
  left: 25%;
  height: 51%;
  width: 50%;
}

/* sec 5 */
.sec-five{
  height: 80vh;
}
.kids-img{
  height: 50%;
  width: 100%;
}
.kids-img img{
  height: auto;
  width: 70%;
}
.kids-text{
  height: 50%;
  width: 100%;
  align-items: center;
  text-align: center;
}

/* sec 6 */

.fs-xl-2{
  font-size: 24px !important;
  text-align: center;
}

/* sec 7 */
.footer-menu ul li{
  width: 30% !important;
  height: 50px !important;
  margin: 3px 5px !important;
  font-size: 14px !important;
  color: white !important;
  text-align: center;
}




  }